// Created by dseet on 6/12/2014.
.row
    .col-lg-12
        div(class=['alert', 'alert-danger'])
            h2 An Error occurred on the Server
            It is likely to be due to the Twitter application account hitting the maximum tries. Please try again later or contact the developer.