.row
    .col-lg-12
        .jumbotron
            h1 Welcome to Twit Thru Seet
            p This application is a demonstration of using Node.Js, AngularJS and Twitter Bootstrap to create a responsive web application to access the Twitter API timeline and tweeting features. To begin please click on Twitter Service.
